
#content {
  text-align: center;
  display:flex;
  flex-direction:column;
  align-items: center;
  margin-bottom: 0px;
}

#content img {
  display:block;
  margin:20px auto ;
}

#text-content  h1 {
  letter-spacing: 2px;
  margin:10px auto;  
  text-align:center;
  font-family: 'Acme', sans-serif;  
}

#text-content h5 {
  padding: 0px 20px;
  margin:3vw 8vw;
  font-size: 1.1rem;
  max-width:500px;
  font-family: 'Acme', sans-serif; 
  font-weight:200;
}


#details {
 padding:10px 40px;
 margin:10px auto;
 font-weight: bold;
 font-size: 0.8rem;
color:rgb(43, 49, 49);
text-align: center;
font-family: 'Acme', sans-serif; 
}  

/* BREAK POINTS for mobiles */

@media only screen and (max-width:425px) {

  #navbar a {
   font-size:13px;
  }  

  #content img {
    width:200px;
    height:200px;
  }
  #text-content h1 {  
    font-size:32px;
  }

  #text-content  h5 {
    font-size:.9rem;
    padding:10px;
    line-height: 22px;
  }

  #details p {
    font-size:10px;
  }  
}

@media only screen and (min-width:426px) and (max-width:1000px) {

#content img {
  display:block;
  width:350px;
  height:350px;
  margin:30px auto ;
 }

#text-content {
  display:flex;
  flex-direction: column;
  align-items: center;
 }

#text-content h1 {
  letter-spacing: 2px;
  margin:10px auto;
  font-size: 50px;
  text-align:center;    
 }

#text-content  h5 {
  font-size:25px;
  padding:10px 30px;
  line-height: 26px;
 }

#details p {
  font-size:20px;
 }

}

@media only screen and (min-width:1001px) and (max-width:1036px) {  

  #content {
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items: flex-start;
    margin:30px 0px 30px 30px;
  }

  #content img {
    width:600px;
    height:600px;    
  }

 #text-content {
   margin:0px 25px;
 }

 #text-content h1 {
   font-size: 50px;
   letter-spacing: 1px;
   font-weight: bold;
   margin-bottom:10px;
   }

  #text-content h5 {    
    font-size:23px;
    line-height: 1.1rem;    
    text-align: justify;
    margin:0px 17px
  }

  #details {
    padding:5px;
   }

  #details p {
    font-size:17px;
    margin: 6px 0px;
}
}

@media only screen and (min-width:1037px) and (max-width:1062px) {

  #content {
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items: flex-start;
    margin:30px 0px 30px 30px;
  }

  #content img {
    width:600px;
    height:600px;
    margin-left:0px;
    margin-right:0px;
  }

  #text-content h1 {
    font-size: 50px;
    letter-spacing: 1px;
    font-weight: bold;
    margin:0px auto;
  }

  #text-content  h5 {
   margin:20px;
    font-size:23px;
    line-height: 1.2rem; 
    text-align: justify;       
  }

  #details {
    padding:5px;
   }

  #details p {
    font-size:17px;
    margin: 6px 0px;
}
}

@media only screen and (min-width:1063px) and (max-width:1154px) {  

#content {
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items: flex-start;
    margin:30px 0px 30px 30px;
  }

#content img {
  width:600px;
  height:600px;
  margin-left:0px;
  margin-right:0px;
}

#text-content h1 {
  font-size: 50px;
  letter-spacing: 1px;
  font-weight: bold;
  margin:20px auto;
}

#text-content h5 {
  margin: 0 auto;
  font-size:23px;
  line-height: 1.4rem;
  padding:20px;
  text-align: justify; 
}

#details {
  padding:5px;
 }

#details p {
  font-size:17px;
  margin: 6px 0px;
}
}

@media only screen and (min-width:1154px) {

#content {
    display:flex;
    flex-direction:row;
    justify-content:space-evenly;
    align-items: flex-start;
    margin:30px 0px 30px 30px;
  }

#content img {
  width:600px;
  height:600px;
  margin-left:0px;
  margin-right:0px;
}

#text-content h1 {
  font-size: 50px;
  letter-spacing: 1px;
  font-weight: bold;
  margin:20px auto;
}

#text-content h5 {
  margin: 0 auto;
  font-size:23px;
  line-height: 1.4rem;
  padding:20px;
  text-align: justify; 
}

#details {
  padding:5px;
 }

#details p {
  font-size:17px;
  margin: 6px 0px;
}




}

